<div class="row">
  <div class="col-12 text-center">
    <div class="btn-group">
      <button
        type="button"
        class="btn"
        [ngClass]="currentComponent === 'roles' ? 'btn-primary btn-lighted' : 'btn-primary'"
        (click)="clickedTab('roles')">
        Roles
      </button>

      <button
        type="button"
        class="btn"
        [ngClass]="currentComponent === 'designation' ? 'btn-primary btn-lighted' : 'btn-primary'"
        (click)="clickedTab('designation')">
        Designation
      </button>

      <button
        type="button"
        class="btn"
        [ngClass]="currentComponent === 'about' ? 'btn-primary btn-lighted' : 'btn-primary'"
        (click)="clickedTab('about')">
        About
      </button>
    </div>
  </div>
</div>

<p class="text-center mt-2">
  Current: {{ currentComponent }}
</p>

<div class="row">
  @switch (currentComponent) {
    @case ('roles') {
      <div class="col-12">
        <app-roles-cmp></app-roles-cmp>
      </div>
    }
    @case ('designation') {
      <div class="col-12">
        <app-designation-cmp></app-designation-cmp>
      </div>
    }
    @case ('about') {
      <div class="col-12">
        <app-about-component></app-about-component>
      </div>
    }
    @default {
      <div class="col-12">
        <app-roles-cmp></app-roles-cmp>
      </div>
    }
  }
</div>
